.rightdropdown{
     position:fixed;
     display: inline-block;
     top:5%;
     right:5%;
}
.dropbtn {
    background-color: #000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #000;
}

/*.dropdown {
    position: relative;
    display: inline-block;
}*/

.dropdown-content {
    display: none;
    position: absolute;
    left:-25px;
    background-color: #000;
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.rightdropdown .dropdown-content a {
    color: rgba(255,255,255,1);
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.rightdropdown a:hover {background-color: #19f6e8;}

.show {display:block;}