
html,body{
	overflow-y: auto;
	overflow-x: hidden;
}

#content {
  overflow-y: hidden;
 margin-top: 45px;
  padding: 30px 20px;
  border-radius:15px;
  width: 65%;
  height: 500px; 
  margin-left: 2%;
  /*margin-top: 10px;*/
  font-size: 1.1em;
  background: #d9d9d9; /* Old browsers */
  background-color:rgba(217,217,217,0.4); 
  background-attachment: fixed;
 
  color: black;
  position: relative;
  /*top: -130px;*/
  margin-bottom:10px;
  border: 1px white solid;
  
}

.menu-tab {
  text-align: center;
  border: 1px solid white;
  padding-top: 8px;
  width:220px;
  height:40px;
   background: #a9e4f7; /* Old browsers */
  background-color:#222222;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#000000, endColorstr=#aaaaaa);
 background-image:-moz-linear-gradient(top, #000000 0%, #aaaaaa 50%,#000000 100%);
background-image:linear-gradient(top, #000000 0%, #aaaaaa 50%,#000000 100%);
background-image:-webkit-linear-gradient(top, #000000 0%, #aaaaaa 50%,#000000 100%);
background-image:-o-linear-gradient(top, #000000 0%, #aaaaaa 50%,#000000 100%);
background-image:-ms-linear-gradient(top, #000000 0%, #aaaaaa 50%,#000000 100%);
 opacity: 0.6;
  background-attachment: fixed;
 
}
.menu-tab:hover {
 opacity: 1;
  color:#19f6e8;

}
.menu-tab:active {
  opacity: 1;
  color:#19f6e8;

}
.menu-tab:visited {
  opacity: 1;
  color:#19f6e8;

}

#ind a:link {
    color: white;
    font-size: 1.1em;
  margin-left:5px;
    /*font-family: 'Bentham', serif;*/
    
}
.row #index ul#nav{
  list-style-type:none;
  padding: 0;
  margin: 0 0 10px 0;
  border-color:white;
  background:transparent;
  color:#ffffff;
}
.row #index ul#navli a{
  color:#ffffff;
  border-color:pink;
  }
  #index{
  margin-top: 50px;
    padding: 20px; 
    width: 22%;
    height: 400px; 
    margin-left: 7%;

}
/*menu side slide*/
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(https://fonts.gstatic.com/s/droidsans/v6/s-BiyweUPV0v-yRb-cjciPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

p,h1,h2,h3,h4,h5,body,html {
	font-family: 'Droid Sans', sans-serif;

}

		

#gradient,particles-js
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}
	


.menu-wrap a {
	color: white;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color:white;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.content {
	position: relative;
	background: #b4bad2;
}

.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

/* Close Button */
.close-button {
	width: 1em;
	height: 1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 6001;
	width: 300px;
	height: 100%;
	background: #373a47;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	
}

.menu, 
.icon-list {
	height: 100%;
	z-index: 6000;
}
.icon-list {
	font-size: 17px;
	text-decoration: none;
}
.icon-list a:hover{

	color:#19f6e8;
	text-decoration: none;
}
.icon-list {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.icon-list a {
	color:white;
	display: block;
	padding: 0.65em;
	-webkit-transform: translate3d(0,500px,0);
	transform: translate3d(0,500px,0);
}

.icon-list,
.icon-list a {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.icon-list a:nth-child(2) {
	-webkit-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}

.icon-list a:nth-child(3) {
	-webkit-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}

.icon-list a:nth-child(4) {
	-webkit-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
	-webkit-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
	-webkit-transform: translate3d(0,3000px,0);
	transform: translate3d(0,3000px,0);
}

.icon-list a span {
	margin-left: 10px;
	font-weight: 700;
}

/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*styrl click drop*/

.dropbtn {
    background-color: #000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    left:-20px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

/*style logo*/
/* old *//*
#logo{
 position: absolute;
top:30%;
left:30%;
max-width:1000px;
z-index:6000;
}
#logo img{
width:500px;
}

*/

#logo{

position: fixed;
  top: 48%;
  left: 48%;
  z-index: 10000;
  
  transform: translate(-50%, -50%);
}
@media screen and (min-width:768px){

#logo img{

transform: scale(2, 2);
}
}

/*style menu*/

/

/*.a{
position:absolute;
top:62%;
left:28%;
 list-style-type:none;
 z-index:7000;
}


.a li{
float:left;
margin-right:60px;
font-size:30px;
	

}
.a li a{
z-index:10000;
text-decoration:none;
font-style: oblique;
font-size: 30px;
color:black;
opacity:0.5;
}

.a li:hover{
font-size:5em;

}
.a li a:hover{
font-variant: small-caps;
color:white;
opacity:1;
}*/

/* Menu General Styles */
.menuBackground{
/*float:right;*/
height: 70px;
width:70px;
margin:30px 40px;


}
.dropDownMenu a {
	color: black;
}
.dropDownMenu,
.dropDownMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dropDownMenu li {
	position: relative;
}
.dropDownMenu a ,.dropDownMenu>li>img{
	padding: 10px 20px;
	display: block;
	text-decoration: none;
}
.dropDownMenu a:hover {
	background: sandybrown;
	
}
.dropDownMenu li>a>img:hover {
	background: yellow;
}

/* Level 1 Drop Down Menu */
.dropDownMenu > li {
	display: inline-block;
	vertical-align: top;
	margin-left: -4px; /* solve the 4 pixels spacing between list-items */
}
.dropDownMenu > li:first-child {
	margin-left: 0;
}
.dropDownMenu > li > a {}
.dropDownMenu > li > a:hover {}




.dropDownMenu > li > ul {
	text-align: left;
	width: auto; /* change auto value with 200px if you want a bigger menu */
	display: none;
	background:powderblue;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 9999999; /* if you have YouTube iframes, is good to have a bigger z-index so the video can appear above the video */
}
.dropDownMenu > li:hover > ul {
	display: block;
}

/*Menu slideshare*/

/*html,*/ 
.contain, 
.content-wrap {
	overflow: auto;
	width: 100%;
	height: 100%;
}
		body{
	 background-color: #000000;
   padding: 0px;
   margin: 0px;
  /* overflow-y: auto;*/
 }

#gradient,particles-js
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}
	


.menu-wrap a {
	color: #b8b7ad;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
	color:cornflowerblue;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.content {
	position: relative;
	background: #b4bad2;
}

.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#ffffff 20%, transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%, transparent 60%, transparent 80%, #ffffff 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

/* Close Button */
.close-button {
	width: 1.1em;
	height: 1.1em;
	position: absolute;
	right: 1em;
	top: 1em;
	overflow: hidden;
	text-indent: 1em;
	font-size: 0.75em;
	border: none;
	background: transparent;
	color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;
}

.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 5001;
	width: 300px;
	height: 100%;
	background: #373a47;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu, 
.icon-list {
	height: 100%;
}

.icon-list {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}
.icon-list span:hover{
	color:#19f6e8;

}
.icon-list a {
	display: block;
	padding: 0.65em;
	color:white;
	-webkit-transform: translate3d(0,500px,0);
	transform: translate3d(0,500px,0);
}

.icon-list,
.icon-list a {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.icon-list a:nth-child(2) {
	-webkit-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}

.icon-list a:nth-child(3) {
	-webkit-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}

.icon-list a:nth-child(4) {
	-webkit-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
	-webkit-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
	-webkit-transform: translate3d(0,3000px,0);
	transform: translate3d(0,3000px,0);
}

.icon-list a span {
	margin-left: 10px;
	font-weight: 700;
}

/* Shown menu */
.show-menu{
	z-index: 6005;
}
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*Menu wrapper index*/
.svg-wrapper {
  
  transform: translateY(-50%);
	  margin: 0 auto;
  width: 320px;  
  z-index: 1000;
}
.svg-wrapper a:hover {
	text-decoration: none;

}
.svg-wrapper a:clicked {
	text-decoration: none;

}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  fill: transparent;
  stroke: #19f6e8;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
 
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 8px;
  color: #fff;
  top: -48px;
  position: relative;
  cursor: pointer;
}
.svg-wrapper:hover .shape {
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}
.hover-menu {
	width: 100%;
	position: absolute;
	top:65%;
	z-index: 2000;
}


#payment {
	float:right;
	position: relative;
	right: 3%;
	top: 30%;
}
#payment a:hover {
	color:#19f6e8; 
}

.menu{
	z-index: 6010;
}
.mdl-button{
	color: #19f6e8;
}

/* global events and workshop Layouts */

.title {
	position: absolute;
	width:20%;
	margin-top: 0%;
	margin-left: 53%;
	border-bottom: 10%;
	text-align: center;
	color: #fff;

	
}
.title1 {
	position: absolute;
	width:20%;
	margin-top: 0%;
	margin-left: 38%;
	border-bottom: 10%;
	text-align: center;
	color: #fff;

	
}

.logo {
	position: relative;
	width:50%;
	display: inline-block;
	left: 25%;
	height:350px;
	text-align: center;
	margin-top:5%;
	
	
}
.dept-list {
	position: absolute;

	width: 90%;
	/*margin-top: 50px;*/
	margin-left: 5%;
	/*height:100px;*/
	text-align: center;
	
}
.dept-list .list-1 {
	width:90%;
	margin-left: 5%;
	height: 10%;
	text-align: center;
	margin-top:-20px;
	
}
.dept-list .list-2 {
	width:90%;
	margin-left: 5%;
	height: 10%;
	text-align: center;
	
	
}
.dept-list .list-3 {
	width:90%;
	margin-left: 5%;
	height: 10%;
	text-align: center;
	
	
}

.wrk-list{
	position: absolute;
	width: 90%;
	margin-left: 5%;
	/*height:150px;*/
/*	margin-top: 50px;*/
	text-align: center;
	margin-top:-70px;
	
	
}
.wrk-list .list-1 {
	width:90%;
	margin-left: 5%;
	height: 10%;
	text-align: center;
	
	
}
.wrk-list .list-2 {
	width:90%;
	margin-left: 5%;
	height: 10%;
	text-align: center;
	
	
}
.wrk-list .list-3 {
	width:90%;
	margin-left: 5%;
	height: 10%;
	text-align: center;
	
	
}

.event-gradient {
	 background: #a9e4f7; /* Old browsers */
  background-color:#222222;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#222222, endColorstr=#00ACE9);
 background-image:-moz-linear-gradient(top, #222222 0%, #00ACE9 50%,#222222 100%);
background-image:linear-gradient(top, #222222 0%, #00ACE9 50%,#222222 100%);
background-image:-webkit-linear-gradient(top, #222222 0%, #00ACE9 50%,#222222 100%);
background-image:-o-linear-gradient(top, #222222 0%, #00ACE9 50%,#222222 100%);
background-image:-ms-linear-gradient(top, #222222 0%, #00ACE9 50%,#222222 100%);
 
  background-attachment: fixed;
}

.dept-name {
	height: 100%;
	cursor: pointer;
	margin-top: 2%;
	text-align: center;
	border: white solid 2px;
	background: #a9e4f7; /* Old browsers */
	background-color:#222222;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#5B5B5B, endColorstr=#AAAAAA);
	background-image:-moz-linear-gradient(top, #5B5B5B 0%, #AAAAAA 50%,#5B5B5B 100%);
	background-image:linear-gradient(top, #5B5B5B 0%, #AAAAAA 50%,#5B5B5B 100%);
	background-image:-webkit-linear-gradient(top, #5B5B5B 0%, #AAAAAA 50%,#5B5B5B 100%);
	background-image:-o-linear-gradient(top,#5B5B5B 0%, #AAAAAA 50%,#5B5B5B 100%);
	background-image:-ms-linear-gradient(top, #5B5B5B 0%, #AAAAAA 50%,#5B5B5B 100%);
 
  background-attachment: fixed;
  opacity:0.6;
  color:white;
}
.dept-name:hover {
	opacity: 1;
	color:#19f6e8;
}
.detail-div {
	display: none;
}
.dept-name a {
	color:white;
	text-decoration: none;
}

.dept-name a:hover {
	color:#19f6e8;
	text-decoration: none;
}

.dept-name a:focus {
	color:#19f6e8;
	text-decoration: none;
	outline: none;
	border: none;
}


/*Notification*/
.notification {
	text-align:center;
	float: right;
	position:relative;
	top:220px;
	right:35px;
  
}

.notification div{
	z-index: 7000;
  	width:150px;
  	height: 170px;
  	display:none;
  	opacity: 0.7;
    background-color: black; 
    color: #FFFFFF; 
  border: 1px grey solid;
    padding: 10px 10px;
    font-size: 18px;
    line-height: 25px;
    font-weight:normal;
    border-radius: 10px;
}

/*Preloader*/
.preloader { 
  position: fixed;
  z-index: 999999;
  width: 100%; 
  height: 100%;
  margin: 0; 
  padding: 0;
  background: black;
}
#payment {
	position: absolute;
	top:3%;
	right: 14%;
	font-size: 16px; 
}
#payment a:hover {
	color:#19f6e8; 
}
.preloader svg {
  position: absolute;
  width: 240px;
  height: 120px;
  top: 0; right: 0;
  bottom: 0; left: 0; 
  margin: auto;
}
.credit {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

/*Team page*/

.pic-row {
	height:25%;
	width:90%;
	padding-left: 5%;
}

.pic-frame {
	width:100%;
	height: 70%;

}

.pic-caption {
	width:100%;
	height: 30%;
	background-color: rgba(255,255,255,0.6);
	color:white;
}
.team-col {
	text-align: center;
	background:rgba(255, 255, 255, 0.75);
	border: 3px solid rgba(255, 255, 255, 0.75);
	border-radius: 3px;
}

.team-col:hover {
	background:rgba(25, 246, 232, 0.50);
	color: #fff;
	border: 3px solid rgba(25, 246, 232, 0.50);
    
}
.team-pic {
	box-sizing: border-box;
	background-size: cover;
	width: 100%;
	height:24%;
	
}

#ongc{
	
	width:15%;
	height:15%;
	position: absolute;
	margin-left: 42%;
	margin-top: 13%;
	color:#fff;
	text-align: center;
}