body {  
  background: #a9e4f7; /* Old browsers */
  background: -moz-linear-gradient(135deg,  #00ACE9 0%,#222222 100%); /* FF3.6+ */
  background: -webkit-gradient(left top, right bottom, color-stop(30%,#00ACE9), color-stop(70%, #222222 )); /* Chrome,Safari4+ */ 
  background: -webkit-linear-gradient(135deg,  #00ACE9 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(135deg, #00ACE9 0%,#222222 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(135deg, #00ACE9 0%,#222222 100%); /* IE10+ */
  background: linear-gradient(135deg,#00ACE9,#222222); /* W3C */ 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ACE9', endColorstr='#222222',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
/*background: linear-gradient(#000000 0%,#050858 100%);*/
  background-attachment: fixed;
}


.und,.undfrgt{
	text-decoration: underline;
	cursor:pointer;
}
.label{
	text-align: left;
}

#signup-form{

	margin:auto;
}


#signup-form{

	margin:auto;
}


*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:1050px;
	box-shadow: 0 0 40px rgba(0,0,0,1);
	position:relative;

	/*background:url(images/imageb.jpg) no-repeat center;*/
	/*box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);*/
}
.login-html{
	width:130%;
	height:100%;
	margin-left: -13%;
	position:absolute;
	padding:40px 70px 20px 70px;
	/*background:lightseagreen;*/
	background:#b3b3b3;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	/*text-transform:uppercase;*/
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input{
	color:#000;
}
.login-form .group .button{
	color:#fff;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	/*width:100%;*/
	width:100%;
	/*color:#fff;*/
	display:block;
	position:relative;
	/*right:100px;*/
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	font-size: 18px;
	padding:8px 20px;
	border-radius:20px;
	background:rgba(255,255,255,0.3);
}
.login-form .group input[data-type="password"]{
	/*text-security:circle;*/
	-webkit-text-security:circle;
}
.login-form .group .label{
	/*color:#fff;*/
	color: #000;
	font-size: 18px;
}
.login-form .group .button{
	/*background:#1161ee;*/
	background: rgba(0, 0, 0, 0.8);
	
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:20px 0 20px 0;
	/*background:rgba(255,255,255,.2);*/
	background: rgba(17,97,238,1);
}
.foot-lnk{
	text-align:center;
	
}
 .glyphicon-remove {
   opacity:0;
   }

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input1  { padding-left:  30px; }
.right-addon input1 { padding-right: 30px; }
